:root {
    --text-color: #e671e5;
    --bg-color: #5a69f2;
  }


.text-color-custom{
    color:var(--text-color) !important;
}

.text-color-custom1{
  color:var(--bg-color);
}

.bg-color-custom{
  background-color:var(--bg-color);
}

.custom-font-family{
  font-family: 'Roboto', sans-serif !important;
}
.card-text-size{
  font-size: 13px;
}
.card-text-size-12{
  font-size: 12px;
}
.card-button-size{
  font-size: 15px !important;
}

.course-heading{
  font-size: 20px;
}
.course-text{
  font-size: 14px;
}